.grid-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
padding: 20px;
}

.box {
    background-color: rgb(124, 172, 235);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.box:hover {
background-color: rgb(87, 167, 232);
box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.176);
}

@media screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
}