*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(152, 217, 245);
    max-width: 1000px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 30px;
    grid-auto-rows: minmax(200px,auto);
}

.box{
    background-color: rgb(103, 178, 228);
    text-align: center;
    border-radius: 10px;
    padding: 85px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.box:hover{
    background-color: rgb(91, 148, 240);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.4);
    color:whitesmoke;

}
@media screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
}



