*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: arial, sans-serif;
    line-height: 30px;
}


h1{
    
    display: inline-block;
    padding: 10px 20px;
    top: 0;
    left: 0;
    
}

 
body{
    padding: 20px;
    background-color: #f5f5f5;
}

.card-container{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-top: 20px ;
 
}

.card{
    background-color: rgb(219, 215, 211);
    padding: 30px;
    flex : 1;
    border-radius: 20px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}


.card:hover{
box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.032);
}
form{
    display: flex;
    flex-direction: column;
    padding: 50px
}

@media screen and (max-width: 768px) {
    .card-container{
        flex-direction: column;
        
    }
    .card{
        background-color: azure;
    }
}